app:
  host: localhost
  port: 8109
  root: /auth

siam:
  base_url: $SIAM_URL
  aselect_server: $SIAM_A_SELECT_SERVER
  app_id: $SIAM_APP_ID
  shared_secret: $SIAM_SHARED_SECRET
  # Temporary, as a replacement for client registration (rfc6749#section-2)
  allowed_callback_hosts:
    amsterdam.nl:
      - https
    localhost:
      - http

jwt:
  refreshtokens:
    secret: $JWT_REFRESH_SECRET
    algorithm: HS256
    lifetime: 2592000  # 30 x 24 x 3600
  accesstokens:
    secret: $JWT_ACCESS_SECRET
    algorithm: HS256
    lifetime: 300

postgres:
  host: ${DB_HOST:-localhost}
  port: ${DB_PORT:-5432}
  user: ${DB_USER:-authuser}
  password: ${DB_PASS:-authpassword}
  dbname: ${DB_DATABASE:-authz}

logging:
  version: 1
  formatters:
    root:
      format: "%(asctime)s	%(name)s %(levelname)s (%(pathname)s/%(filename)s:%(funcName)s@%(lineno)d): %(message)s"
    auditlog:
      format: "%(asctime)s	%(name)s %(levelname)s (pid: %(process)d | ts: %(created)f) %(message)s"
    werkzeug:
      format: "%(asctime)s	%(name)s %(levelname)s: %(message)s"
  handlers:
    root:
      class : logging.StreamHandler
      formatter: root
    auditlog:
      class : logging.StreamHandler
      formatter: auditlog
    werkzeug:
      class : logging.StreamHandler
      formatter: werkzeug
  loggers:
    auditlog.authserver:
      level: DEBUG
      propagate: false
      handlers: [auditlog]
    werkzeug:
      propagate: false
      handlers: [werkzeug]
  root:
    level: ${LOGLEVEL:-DEBUG}
    handlers: [root]
