Django==1.10.2
PyJWT==1.4.2
coreapi==2.0.8
coverage==4.2
django-cors-headers==1.2.2
djangorestframework==3.5.2
djangorestframework-jwt==1.8.0
django-rest-swagger==2.1.0
itypes==1.1.0
openapi-codec==1.1.7
psycopg2==2.6.2
requests==2.11.1
simplejson==3.10.0
uritemplate==3.0.0
