* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

ul {
  list-style: none; }

button {
  background-color: transparent;
  cursor: pointer; }

a {
  color: #000;
}

a:hover {
  color: #ec0000;
}

body,
input,
textarea,
keygen,
select,
button {
  font-size: 16px;
  line-height: 1.25;
  color: #000;
  font-family: "Avenir LT W01 55 Roman", Arial, sans-serif; }

h1 {
  font-size: 22.75px;
  line-height: 22.75px;
  font-weight: bold; }

h2 {
  margin-top: 30px;
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: bold; }

p {
  margin-top: 10px;
}

.c-separator {
  margin: 30px 0 10px 0;
  height: 2px;
  background-color: #ccc;
}

.c-form {
  margin-top: 20px;
}

.c-form-error {
  padding: 3px 10px;
  line-height: 20px;
  background-color: #ec0000;
  font-weight: bold;
  color: #fff;
}

.c-form-field {
  margin-top: 10px;
  height: 30px;
  text-align: left;
  clear: both;
}

.c-form-field__label {
  display: inline-block;
  padding-right: 10px;
  width: 30%;
  float: left;
  line-height: 30px;
  color: #666;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-form-field__input {
  padding: 0 10px;
  width: 70%;
  height: 30px;
  float: right;
  border: 1px solid #ccc;
  line-height: 30px;
}

.c-form-field__input:focus,
.c-form-field__input:active {
  padding: 0 9px;
  border: 2px solid #666;
  outline: none;
}

.c-form-buttons {
  text-align: right;
}

.c-form-buttons__button {
  margin: 10px 0;
  padding: 0 26px 0 8px;
  height: 26px;
  border: 1px solid #ccc;
  background: url('assets/images/forward.svg') no-repeat right;
  line-height: 24px;
  font-weight: bold;
  color: #666;
}

.c-form-buttons__button:focus,
.c-form-buttons__button:active,
.c-form-buttons__button:hover {
  border: none;
  outline: none;
  background-image: url('assets/images/forward-red.svg');
  background-color: #ec0000;
  line-height: 26px;
  color: #fff;
}

.c-logo {
  font-size: 26px;
  line-height: 26px;
  display: block;
  color: #000;
  cursor: pointer;
  clear: both;
}

.c-logo__link {
  width: 100%;
  color: #000;
  text-align: left;
  text-decoration: none; }

.c-logo__image {
  float: left;
  margin: 10px 12px 10px 10px;
  width: 64px;
}

.c-logo__title-col {
  display: flex;
  align-items: center; }

.c-logo--tall .c-logo__title-col {
  height: 60px;
  margin-left: 80px; }

.c-logo--tall .c-logo__image {
  top: 20px;
  left: -26px;
  width: 85px;
  height: 68px; }

.c-logo--tall .c-logo__title {
  font-size: 26px;
  line-height: 26px; }

.c-logo--short .c-logo__title-col {
  height: 50px; }

.c-logo--short .c-logo__image {
  top: 10px;
  right: 10px;
  left: 10px; }

.c-logo--short .c-logo__title {
  font-size: 16px;
  line-height: 16px; }

.c-logo__title {
  display: inline-block;
  font-weight: bold;
  line-height: normal; }
  .c-logo__title.c-logo__title-super {
    align-self: flex-start;
    margin: 12px 0 0 4px;
    color: #666;
    font-size: 10px; }

.c-content {
  margin: 66px 86px;
  max-width: 595px;
}
