<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Inloggen - Dataportaal</title>
    <link rel="icon" type="image/png" href="static/favicon.png">
    <link rel="stylesheet" href="https://fast.fonts.net/cssapi/3680cf49-2b05-4b8a-af28-fa9e27d2bed0.css">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>

    <header class="c-logo qa-logo c-logo--short">
        <a class="c-logo__link" title="Naar voorpagina Dataportaal" href="https://data.amsterdam.nl">
          <img class="c-logo__image" alt="Logo Gemeente Amsterdam" src="static/assets/images/logo-short.svg">
          <div class="c-logo__title-col">
            <span class="c-logo__title">City Data</span>
          </div>
        </a>
    </header>

    <section class="c-content">
      <h1>Inloggen</h1>

      <h2>Als medewerker</h2>
{% if whitelisted %}
      <p>
        Als medewerker/ketenpartner hoef je (tijdelijk) geen gegevens in te
        vullen, maar kun je direct doorgaan om ingelogd te zijn. Dit kan
        doordat je vanaf een vertrouwd internetadres komt.
      </p>
      <form class="c-form" action="login?{{ query_string }}" enctype="application/x-www-form-urlencoded" method="post">
        <div class="c-form-buttons">
          <button class="c-form-buttons__button" type="submit" name="type" value="employee">Doorgaan</button>
        </div>
      </form>
{% else %}
      <p>
        Als medewerker/ketenpartner kun je momenteel alleen inloggen als je vanaf een
        vertrouwd internetadres komt. Dat is nu niet het geval. Tip: benader de site vanuit ADW.
      </p>
{% endif %}

      <hr class="c-separator">

      <h2>Als medewerker met speciale bevoegdheid</h2>
      <p>
        Als je speciale bevoegdheid toegekend hebt gekregen en daar gebruik van
        wilt maken, kun je hieronder inloggen. Je kunt dan zoeken op basis van
        de naam van een persoon en bekijken welke panden of percelen die in
        eigendom heeft (zakelijk recht).
      </p>
      <p>
        Gebruik (tijdelijk weer) je Atlas-gegevens.
      </p>
      <form class="c-form" action="login?{{ query_string }}" enctype="application/x-www-form-urlencoded" method="post" autocomplete="off">
{% if error_html %}
        <div class="c-form-error">
          {{ error_html }}
        </div>
{% endif %}
        <div class="c-form-field">
          <label class="c-form-field__label" for="email">E-mailadres</label>
          <input class="c-form-field__input" type="text" id="email" name="email">
        </div>
        <div class="c-form-field">
          <label class="c-form-field__label" for="password">Wachtwoord</label>
          <input class="c-form-field__input" type="password" id="password" name="password">
        </div>
        <div class="c-form-buttons">
          <button class="c-form-buttons__button" type="submit" name="type" value="employee_plus">Inloggen</button>
        </div>
      </form>
      <p>
        Speciale bevoegdheid aanvragen? Gebruik bij voorkeur het interne <a href="https://intranet.amsterdam.nl/kennis-beleid/dienstverlening/programma-datapunt/autorisatie-datapunt/" target="_blank">aanvraagformulier</a> of mail naar <a href="mailto:algemeen.ois@amsterdam.nl">algemeen.ois@amsterdam.nl</a>
      </p>
    </section>

  </body>
</html>
